html {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #343541;
  scroll-behavior: smooth;
}

@supports (-webkit-touch-callout: none) {
  #chatcontainer,
  #container {
    height: -webkit-fill-available !important;
  }
}

#container {
  /* height: 100vh; */
  /* height: -webkit-fill-available; */
  background-color: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#chatcontainer {
  height: 100%;
  /* height: -webkit-fill-available; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.header {
  padding: 20px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #343541;
  color: white;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.flower {
  background: url("/images/flower.png") no-repeat center center;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  right: -50px;
  top: 0;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotate 1s linear infinite;
}

.header h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.header p {
  font-size: 0.75em;
  margin: 0;
  font-style: italic;
  display: flex;
  align-items: center;
}

#chat {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  margin-bottom: 100px;
}

#chat a {
  color: #818f7b;
}

.chat-bubble-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.chat-gpt-bubble-container {
  background-color: #444654;
}

.wouter-bubble-container {
  background-color: #3b3c48;
  padding: 0.5em 0;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url("/images/avatar.jpg");
  background-size: cover;
}
.profile-picture:hover {
  background-image: url("/images/pig2.jpg");
}

.chat-bubble {
  padding: 2em 1em;
  max-width: 80%;
}

.user-bubble {
  background-color: #343541;
  color: #ececf1;
  width: 75%;
}

.chat-gpt-bubble {
  align-self: flex-start;
  color: #d1d5db;
  width: 75%;
  position: relative;
}
/* .chat-gpt-bubble::after {
  content: "翻译";
  position: absolute;
  top: 0;
  left: 0;
} */

.wouter-bubble {
  align-self: flex-start;
  color: #d1d5db;
  width: 75%;
  padding: 5px 1em;
  margin-left: 30px;
}

.wouter-bubble:nth-of-type(2) {
  margin-left: 0;
}

#input-area {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #343541;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  bottom: 0;
  position: fixed;
}

#input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

#form {
  width: 60%;
}

#input-area input {
  width: calc(100% - 2em);
  background-color: #40414f;
  border: none;
  color: #ececf1;
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
}

#input-area i {
  color: #ececf1;
  margin: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.disclaimer {
  font-size: 0.7em;
  text-align: center;
  color: #757575;
  font-style: italic;
  padding: 0px 0.5em;
  margin: 0.3em;
}

.disclaimer a {
  color: #818f7b;
}
.fa-paper-plane {
  margin-left: 5px;
  cursor: pointer;
}
.translate {
  margin-left: 10px;
  cursor: pointer;
}
.audio-container {
  margin-top: 10px;
}

/* 实现弹框的css */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#modal .modal-content {
  width: 400px;
  max-width: calc(100vw - 20px);
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modal .modal-header {
  text-align: right;
}
#modal .close {
  cursor: pointer;
  font-size: 30px;
  padding: 0px 10px;
}
#modal .modal-body {
  padding: 20px;
}
#modal .modal-input,
#modal .modal-input-2 {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
#modal .modal-btn,
#modal .modal-btn-2 {
  margin-left: 10px;
}

.send-btn {
  padding: 10px;
}
